fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
apscheduler
alembic
email-validator
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httpx
requests
beautifulsoup4
google-generativeai
groq
dnspython
rapidfuzz
phonenumbers
psycopg2-binary
python-dotenv
asyncpg
python-multipart
openai
markdown
